# From PyPI
dask
diffpy.structure
diffsims >= 0.5.0
hyperspy
importlib_metadata
jupyterlab
kikuchipy >= 0.7.0
matplotlib
matplotlib_scalebar
morphops
numpy
orix >= 0.10.2
pandas
pyebsdindex >= 0.1.1
pyexcel-ods3
PyQt5
scipy
scikit-image
tqdm

# From GitHub
mapregions @ git+https://github.com/hakonanes/mapregions@main
