# From PyPI
dask
diffpy.structure
diffsims >= 0.5.0
hyperspy
importlib_metadata
jupyterlab
kikuchipy >= 0.6.1
matplotlib
matplotlib_scalebar
morphops
numpy
orix >= 0.9
pandas
pyebsdindex
pyexcel-ods3
PyQt5
scipy
scikit-image
tqdm

# From GitHub
mapregions @ git+https://github.com/hakonanes/mapregions@main
